@font-face {
    font-family: "dnx:inder";
    src: url("dynamxmod:css/inder-regular.ttf");
    font-size: 52px;
}

.home{
    width: 40%;
    height: 80%;
    left: 29%;
    top: 7%;
    background: #3D3D3D;
    border-radius: 5px;
}
.1{
    width: 13%;
    height: 11%;
    left: 25%;
    top: 30%;
    background-image: url("dynamxmod:textures/main/1.png");
}
.2{
    width: 13%;
    height: 11%;
    left: 43%;
    top: 30%;
    background-image: url("dynamxmod:textures/main/2.png");
}
.3{
    width: 13%;
    height: 11%;
    left: 62%;
    top: 30%;
    background-image: url("dynamxmod:textures/main/3.png");
}
.4{
    width: 13%;
    height: 11%;
    left: 25%;
    top: 45%;
    background-image: url("dynamxmod:textures/main/4.png");
}
.5{
    width: 13%;
    height: 11%;
    left: 43%;
    top: 45%;
    background-image: url("dynamxmod:textures/main/5.png");
}
.6{
    width: 13%;
    height: 11%;
    left: 62%;
    top: 45%;
    background-image: url("dynamxmod:textures/main/6.png");
}
.7{
    width: 13%;
    height: 11%;
    left: 25%;
    top: 60%;
    background-image: url("dynamxmod:textures/main/7.png");
}
.8{
    width: 13%;
    height: 11%;
    left: 43%;
    top: 60%;
    background-image: url("dynamxmod:textures/main/8.png");
}
.9{
    width: 13%;
    height: 11%;
    left: 62%;
    top: 60%;
    background-image: url("dynamxmod:textures/main/9.png");
}
.star{
    width: 13%;
    height: 11%;
    left: 25%;
    top: 74%;
    background-image: url("dynamxmod:textures/main/star.png");
}
.0{
    width: 13%;
    height: 11%;
    left: 43%;
    top: 74%;
    background-image: url("dynamxmod:textures/main/0.png");
}
.sharp{
    width: 13%;
    height: 11%;
    left: 62%;
    top: 74%;
    background-image: url("dynamxmod:textures/main/sharp.png");
}
.accept{
    width: 13%;
    height: 11%;
    left: 84%;
    top: 42%;
    background-image: url("dynamxmod:textures/main/accept.png");
}
.refuse{
    width: 13%;
    height: 11%;
    left: 84%;
    top: 61%;
    background-image: url("dynamxmod:textures/main/refuse.png");
}
.screen{
    width: 69%;
    height: 19%;
    left: 18%;
    top: 5%;
    background: #4D4D4D;
    border-radius: 5px;
}
.number{
    width: 65%;
    height: 8%;
    left: 20%;
    top: 10%;
    font-family: 'inder';
    padding-top: 1px;
    font-size: 26px;
    text-align: center;
    color: #827D7C;
}
.info {
    width: 95%;
    height: 8%;
    left: 1%;
    top: 94%;
    font-size: 32px;
    text-align: center;
    color: #FFFFFF;
}